.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2.4rem;
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box; }
  .toggle-button:focus {
    outline: none; }
  .toggle-button__line {
    width: 3rem;
    height: 2px;
    background-color: #fff; }
  @media (min-width: 1025px) {
    .toggle-button {
      display: none; } }
