.hero {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/jpg/IMG_0229.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; }
  .hero__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .hero__logo {
    margin-top: 1.5em;
    width: 35%; }
    .hero__logo img {
      width: 100%; }
  .hero__txt {
    text-align: center;
    padding-bottom: 2.5rem; }
  .hero__btns {
    display: flex;
    justify-content: center;
    align-items: center; }
    .hero__btns .button-y {
      margin-right: 2rem; }
      @media only screen and (min-width: 75em) {
        .hero__btns .button-y {
          font-size: 1.6rem; } }
      .hero__btns .button-y:last-child {
        margin-right: 0; }
  @media (min-width: 600px) {
    .hero__logo {
      width: 25%; }
    .hero__txt {
      padding: 0 10rem 1rem 10rem; }
    .hero .header-title {
      font-size: 4rem; } }
  @media (min-width: 900px) {
    .hero__logo {
      width: 20%; } }
  @media (min-width: 1200px) {
    .hero__logo {
      width: 10%; }
    .hero__txt {
      padding: 0 35rem 2rem 35rem; }
      .hero__txt .header-title {
        font-size: 4.8rem; } }
