.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ebd831;
  height: 5.6rem;
  border-radius: 0;
  z-index: 50; }
  .navbar__spacer {
    flex: 1; }
  .navbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem; }
    .navbar__navigation-items ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
    .navbar__navigation-items li {
      margin: 0 1.5rem;
      justify-content: space-around;
      font-size: 1.8rem;
      font-weight: 400; }
    .navbar__navigation-items a:link,
    .navbar__navigation-items a:visited {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.6);
      padding: 1rem 1rem;
      transition: all 0.2s; }
    .navbar__navigation-items a:hover {
      border-radius: 3px;
      background-color: #fff; }
  .navbar__logo {
    width: 3.5rem; }
  @media (max-width: 768px) {
    .navbar__navigation-items {
      display: none; } }
