.services-page {
  margin: 10rem auto; }
  .services-page__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem; }
  .services-page__title {
    font-size: 5rem;
    font-family: "Playfair Display", serif;
    color: #ebd831;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 37.5em) {
      .services-page__title {
        font-size: 5.8rem; } }
  .services-page__text {
    font-size: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem; }
    @media only screen and (min-width: 37.5em) {
      .services-page__text {
        text-align: center;
        font-size: 2.3rem;
        margin-left: 15rem;
        margin-right: 15rem; } }
  .services-page__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
