@import '../base/mixins';
@import '../base/variables';

.services-page {
  margin: 10rem auto;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 4rem;
  }

  &__title {
    font-size: 5rem;
    font-family: $heading-font;
    color: $color-primary;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      font-size: 5.8rem;
    }
  }

  &__text {
    font-size: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    @include respond(tab-port) {
      text-align: center;
      font-size: 2.3rem;
      margin-left: 15rem;
      margin-right: 15rem;
    }
  }

  &__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
