.services {
  margin: 8rem auto; }
  .services__header {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5rem; }
    @media only screen and (min-width: 37.5em) {
      .services__header {
        font-size: 4.8rem;
        margin-bottom: 8rem;
        text-align: left;
        margin-left: 10rem; } }
  .services__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .services__card {
    background-color: #fff;
    border-radius: 10px;
    width: 10rem;
    height: 15rem;
    margin-right: 2.5rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 30%;
    transition: all 0.2s; }
    .services__card:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6); }
    @media only screen and (min-width: 37.5em) {
      .services__card {
        flex: 0 0 25%;
        height: 18rem;
        margin-right: 3rem;
        margin-bottom: 5rem; } }
    @media only screen and (min-width: 56.25em) {
      .services__card {
        flex: 0 0 20%; } }
    @media only screen and (min-width: 75em) {
      .services__card {
        flex: 0;
        width: 25rem;
        height: 20rem; } }
  .services__img {
    width: 8rem; }
    @media only screen and (min-width: 37.5em) {
      .services__img {
        width: 12rem; } }
  .services__title {
    font-size: 1.6rem;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 37.5em) {
      .services__title {
        font-size: 1.8rem; } }
  .services__btn {
    text-align: center;
    margin-top: 3rem; }
  @media only screen and (min-width: 75em) {
    .services .button-y {
      font-size: 1.6rem; } }
