@import '../base/variables';
@import '../base/mixins';

.services {
  margin: 8rem auto;

  &__header {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5rem;

    @include respond(tab-port) {
      font-size: 4.8rem;
      margin-bottom: 8rem;
      text-align: left;
      margin-left: 10rem;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    text-align: center;
    margin-top: 3rem;
  }

  .button-y {
    @include respond(desktop) {
      font-size: 1.6rem;
    }
  }
}
