// Variables
@import '../../../styles/_colors.scss';

.howItWorks {
  width: 100%;
  background-color: #f5f4ed;

  &__grid {
    padding-top: 6rem !important;
    padding-bottom: 4rem !important;
  }

  h3 {
    font-weight: 600;
    font-size: 28px;
  }

  p {
    margin-top: 15px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 100;
  }

  &__text {
    margin-top: 100px;
  }

  .even-text {
    padding: 0 200px 0 0;
  }

  .odd-text {
    padding: 0 0 0 300px;
  }

  // Responsive media queries for text

  @media (min-width: 768px) and (max-width: 1024px) {
    .howItWorks {
      &__text {
        margin-top: 60px;
      }
    }
    .even-text {
      padding: 0 40px 0 0;
    }

    .odd-text {
      padding: 0 0 0 80px;
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .howItWorks {
      margin: 0 auto;
      text-align: center;
    }

    .even-text {
      margin: 0 auto;
      padding: 0;
    }

    .odd-text {
      margin: 0 auto;
      padding: 0;
    }
  }
}
