// Variables
$text-color-dark: rgba(0, 0, 0, 0.6);

.howItWorks {
  width: 100%;
  background-color: #f5f4ed;
  padding: 30px 40px;

  &__grid {
    padding-top: 6rem !important;
  }

  h3 {
    font-weight: 600;
    font-size: 28px;
    color: $text-color-dark;
  }

  p {
    margin-top: 15px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 100;
  }

  @media only screen and (((min-width: 768px) and (max-width: 1440px))) {
    .even-text {
      padding: 0 80px 0 0;
    }

    .odd-text {
      padding: 0 0 0 100px;
    }
  }
}
