$background-color: #f5f4ed;
$background-footer-top: #f3f3f3;
$background-footer-bottom: #cccbca;
$text-color-dark: rgba(0, 0, 0, 0.6);
$text-color-light: #fff;
$button-color: #ebd831;
$button-color-blue: #89abe3;
$background-color-images: rgba(0, 0, 0, 0.2);
