@import 'styles/variables';

body {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  // font-size: 20px;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  color: $text-color-dark;
}

.header-title {
  color: $text-color-light;
  font-size: 2rem;
  font-family: $heading-font;
  letter-spacing: 1px;
}

.header-subtitle {
  font-size: 3.5rem;
  font-weight: 700;
}

.header-tertiary-Title {
  color: $text-color-dark;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.paragraph {
  font-size: 1.2em;
  font-weight: 100;
  color: $text-color-dark;
}

.link-text {
  font-size: 1em;
  text-decoration: none;
  color: $text-color-dark;
}
