.howItWorks {
  padding: 2em 0;
}

.howItWorks img {
  width: 40%;
  height: auto;
  margin-bottom: 1em;
}

.howItWorks p {
  margin: 0 2em 2em 2em;
}

@media only screen and (min-width: 768px) {
  .howItWorks img {
    max-width: 20%; 
  }

  .howItWorks p {
    margin: 0 7em 3em 7em;
  }
}

@media only screen and (min-width: 1000px) {
  .howItWorks p {
    margin: 0;
  }

  .howItWorks img {
    width: 20%;
  }

  .group {
    width: 90vw;
    flex-direction: row;
    justify-content: space-around;
  }

  .group1 {
    flex-direction: row-reverse;
  }

  .group3 {
    flex-direction: row-reverse;
  }

  .cont {
    width: 30vw;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
