.howItWorks {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 20px;
}

.howItWorks h3 {
  font-size: 200%;
}

.howItWorks p {
  margin-top: 15px;
  word-spacing: 3px;
  padding: 0 100px;
}

.headline {
  font-size: 200%;
  margin-bottom: 50px;
}

.image {
  margin-bottom: 1em;
  width: 50%;
}

.image-smaller {
  width: 30%;
  margin-left: 50px;
}

.image-bigger {
  width: 40%;
}

.group {
  padding: 10px 20px 30px 20px;
}

.group h2 {
  margin-bottom: 20px;
}

.group2 {
  flex-direction: row-reverse;
}

.cont {
  padding: 0 60px 0 60px;
}

/* @media only screen and (min-width: 320px) and (orientation: landscape) {
  h1 {
    text-align: center;
  }

  .group {
    width: 90vw;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .group1 {
    flex-direction: row;
  }

  .group2 {
    flex-direction: row-reverse;
  }

  .group3 {
    flex-direction: row;
  }

  .cont {
    width: 30vw;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1000px) {
  .howItWorks p {
    margin: 0;
  }

  .group {
    width: 90vw;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .group1 {
    flex-direction: row;
  }

  .group2 {
    flex-direction: row-reverse;
  }

  .group3 {
    flex-direction: row;
  }

  .cont {
    width: 30vw;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */
