@import 'styles/variables';

.partnerships {
  background-color: $background-color;
  padding: 15rem 0 15rem 0;
  margin: 0 auto;

  &__grid {
    text-align: center;
  }

  .button-y {
    font-size: 1.2rem !important;
    margin: 0 1.6rem !important;
  }

  @media (min-width: 600px) {
    .button-y {
      font-size: 1.6rem !important;
    }
  }
}
