.l-welcome {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../../images/jpg/partnerships-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

h1 {
  color: #fff !important;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo img {
  width: 200px;
}

.header-text {
  text-align: center;
}

.welcome-btns {
  display: flex;
  align-items: center;
}

.header-btn {
  background: #ebd831 !important;
  margin: 0.5rem !important;

  &:hover {
    background-color: #fff !important;
  }
}
