@import '../../../styles/_colors.scss';
@import '../../../styles/_typography.scss';

.l-welcome {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
      $background-color-images,
      $background-color-images
    ),
    url('../../../images/jpg/IMG_0229.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $text-color-light;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-logo img {
      width: 150px;
    }

    .header-txt {
      text-align: center;

      h1 {
        font-family: $heading-font;
        padding-bottom: 20px;
      }
    }

    .welcome-btns {
      display: flex;
      align-items: center;
    }
  }
}
