@import '../../../styles/_variables.scss';

.l-welcome {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
      $background-color-images,
      $background-color-images
    ),
    url('../../../images/jpg/IMG_0229.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $text-color-light;

  h1 {
    font-family: 'Playfair Display', serif;
    color: $text-color-light !important;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-logo img {
      width: 150px;
    }

    .header-text {
      text-align: center;
    }

    .welcome-btns {
      display: flex;
      align-items: center;

      .header-btn {
        background: $button-color !important;
        margin: 0.5rem !important;
        padding: 15px !important;

        a {
          color: $text-color-dark;
          font-size: 18px;
        }

        &:hover {
          background-color: $text-color-light !important;
        }
      }
    }
  }
}
