/* Footer Top */
.footerTop {
  height: 30vh;
  background-color: var(--g1);
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5em;
}

.footerTop img {
  height: 15%; 
  width: auto;
  margin: 0.5em;
}

.footerTop a {
  margin: 0.5em;
  color: #000;
  text-decoration: none;
  margin: 0.5em;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.info {
  display: flex;
  width: 50vw;
  justify-content: center;
}

.more {
  display: flex;
  flex-direction: column;
}

.locations {
  display: none;  
}

.locations p {
  margin: 0.5em;
  color: #000;
  text-decoration: none;
  margin: 0.5em;
}


/* Footer Bottom */
.footerBottom {
  height: 10vh;
  background-color: var(--g2);
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.footerBottom p {
  margin: 0.5em 1em 0.5em 0.5em;
}

.footerBottom a {
  margin: 0.5em;
  color: #000;
  text-decoration: none;
}

@media only screen and (min-width : 768px) {
  .locations {
    display: flex;  
    flex-direction: column;
    justify-content: center;
  }

  .footerTop img {
    margin: 0.5em 1em;
  }

  .footerTop {
    height: 25vh;
  }

  .info {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
  }

  .more {
    display: flex;
    flex-direction: column;
  }

}
