.howItWorks {
  width: 100%;
  height: auto;
  background-color: rgb(245, 242, 235);
}

.howItWorks h3 {
  font-weight: 100;
  font-size: 28px;
  color: rgb(236, 203, 94);
}

.howItWorks p {
  margin-top: 15px;
  word-spacing: 3px;
  padding: 0 200px;
  font-weight: 100;
}

.headline {
  margin-bottom: 50px;
  margin-top: 40px;
}

.headline h2 {
  color: rgb(236, 203, 94);
  font-weight: 900;
  font-size: 48px;
}

.image {
  margin-bottom: 1em;
  height: 500px;
}

.group {
  padding: 10px 50px 30px 20px;
}

.group1 p {
  text-align: left;
}

.group1 img {
  width: 480px;
  height: 280px;
  margin-left: 150px;
}

.group2 {
  flex-direction: row-reverse;
  padding-top: 20px;
}

.group3 p {
  padding: 0 100px;
  text-align: left;
}

.group3 img {
  margin-left: 100px;
}

/* @media only screen and (min-width: 320px) and (orientation: landscape) {
  h1 {
    text-align: center;
  }

  .group {
    width: 90vw;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .group1 {
    flex-direction: row;
  }

  .group2 {
    flex-direction: row-reverse;
  }

  .group3 {
    flex-direction: row;
  }

  .cont {
    width: 30vw;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1000px) {
  .howItWorks p {
    margin: 0;
  }

  .group {
    width: 90vw;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .group1 {
    flex-direction: row;
  }

  .group2 {
    flex-direction: row-reverse;
  }

  .group3 {
    flex-direction: row;
  }

  .cont {
    width: 30vw;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */
