@import 'variables';
@import 'mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(desktop) {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
  background-color: $background-color;
}
