@import 'variables';

button {
  border: none;
  background-color: transparent;
  transition: background-color 0.2s;
}

/* Solid yellow button */
.button-y {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  color: $color-dark !important;
  background-color: $color-primary !important;
  font-size: 1em !important;
  border-radius: 5px !important;
  margin: 0.5em !important;
  transition: all 0.3s !important;

  &:hover {
    background-color: $color-light !important;
  }

  a {
    text-decoration: none;
    color: $color-dark !important;
  }
}

/* Solid blue button */

.button-b {
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: $color-light;
  background-color: $color-blue;
  font-size: 1em;
  text-decoration: none;
  border-radius: 5px;
  margin: 0.5em;
  transition: background-color 0.3s;

  &:active {
    background-color: transparent;
  }

  &:hover {
    color: $color-dark;
    background-color: $color-light;
  }
}

/* Solid black button */

.button-black {
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #fff;
  background-color: #000;
  font-size: 1em;
  text-decoration: none;
  border-radius: 5px;
  margin: 0.5em;
  transition: background-color 0.3s;

  &:active {
    background-color: #fff;
    color: #000;
  }

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

/* Outline yellow button */

.button-y-o {
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #000;
  background-color: transparent;
  font-size: 1em;
  text-decoration: none;
  border: solid 1px $color-primary;
  border-radius: 5px;
  margin: 0.5em;
  transition: background-color 0.3s;

  &:active {
    background-color: $color-primary;
  }

  &:hover {
    border-color: #000;
  }
}

/* Outline white button */

.button-w-o {
  display: flex;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #fff !important;
  background-color: transparent;
  font-size: 1em;
  text-decoration: none;
  border: solid 1px $color-light;
  border-radius: 5px;
  margin: 0.5em;
  transition: background-color 0.3s;

  &:active {
    border: solid 1px $color-primary;
    background-color: $color-primary;
  }

  &:hover {
    color: #000 !important;
    background-color: $color-light;
  }
}
