@import 'styles/variables';

.navbar {
  position: absolute;
  height: 7vh;
  width: 100%;
  background-color: $button-color !important;
  border-radius: 0 !important;

  .link-text {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
    padding: 1rem 1.5rem;

    &:hover {
      background-color: #fff;
      color: $button-color;
      border-radius: 3px;
    }
  }
}
