@import 'styles/variables';

.navbar {
  position: absolute;
  height: 7vh;
  width: 100%;
  background-color: $background-color-images !important;
  border-radius: 0 !important;

  .link-text {
    font-size: 1.8rem;
    color: #fff;

    a {
      transition: all 0.2s;

      &:hover {
        background-color: #fff;
        color: $text-color-dark !important;
        border-radius: 5%;
      }
    }
  }
}
