@import '../../../styles/_colors.scss';

.navbar {
  position: absolute;
  height: 8vh;
  width: 100%;
  background-color: $background-color-images !important;

  a {
    transition: all 0.2s;

    &:hover {
      background-color: #fff;
      color: $text-color-dark !important;
      border-radius: 5%;
    }
  }

  .link__desktop {
    a {
      color: $text-color-light;
      text-decoration: none;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .navbar {
    height: 15vh;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    height: 12vh;
  }
}
