@import 'styles/variables';

/* Footer Top */
.footer-top {
  background-color: $background-footer-top;
  display: flex;
  justify-content: space-around;
  padding: 0.5em;

  .paragraph {
    font-size: 1.5rem;
    font-weight: 600;
  }

  li {
    list-style-type: none;
  }

  &__social {
    display: flex;
    width: auto;
    padding-top: 5rem;

    img {
      height: 4vh;
      margin: 1em;
    }
  }

  &__links {
    padding-top: 2rem;

    a:hover {
      color: $text-color-dark;
      text-decoration: underline;
    }
  }

  &__locations {
    padding-top: 2rem;

    li:first-child {
      margin-top: -1rem;
    }
  }

  &__services {
    padding-top: 2rem;

    li:first-child {
      margin-top: -1rem;
    }
  }

  @media (max-width: 320px) {
    & {
      display: none;
    }
  }
}
