/* Footer Top */
.footer-top {
  width: 100%;
  background-color: rgb(236, 234, 234);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}

.footer-top li {
  font-size: 16px;
}

.social-container {
  width: 25%;
  margin: 200px 0 0 150px;
}

.social-container:first-child img {
  height: 35px;
}

.social-container img {
  margin-right: 40px;
}

.links-container {
  width: 25%;
  margin: 90px 0 0 200px;
}

.links-container ul {
  list-style-type: none;
}

.links-container li a:link,
a:visited {
  text-decoration: none;
  color: #000;
  line-height: 2;
}

.locations-container {
  width: 25%;
  margin: 90px 0 0 0;
}

.locations-container p {
  margin-bottom: 10px;
  color: #000;
}

.locations-container ul {
  list-style-type: none;
  line-height: 2;
}

.services-container {
  width: 25%;
  margin: 90px 0 0 0;
}

.services-container p {
  margin-bottom: 10px;
  color: #000;
}

.services-container ul {
  list-style-type: none;
  line-height: 2;
  color: #000;
}

/* Footer Bottom */
.footerBottom {
  height: 10vh;
  background-color: var(--g2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  bottom: 0;
}

.footerBottom a {
  font-size: 14px;
}

.footerBottom p {
  margin: 0.5em 1em 0.5em 0.5em;
  font-size: 14px;
}

.footerBottom a {
  margin: 0.5em;
  color: #000;
  text-decoration: none;
}

.footerBottom a:hover {
  text-decoration: underline;
}
