@import '../../../styles/_variables.scss';

/* Footer Top */
.footer-top {
  background-color: $background-footer-top;

  &__grid {
    padding: 3rem 4rem 2rem 4rem !important;
  }
}
/* Footer Bottom */
.footerBottom {
  height: 10vh;
  background-color: var(--g2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  bottom: 0;
}

.footerBottom a {
  font-size: 14px;
}

.footerBottom p {
  margin: 0.5em 1em 0.5em 0.5em;
  font-size: 14px;
}

.footerBottom a {
  margin: 0.5em;
  color: #000;
  text-decoration: none;
}

.footerBottom a:hover {
  text-decoration: underline;
}
