.needHelp {
  display: none;
  padding: 2em 1em;
}

.needHelp h1 {
  margin: 0;
}

@media only screen and (min-width : 768px) {
  .needHelp {
    display: flex;
  }
}

@media only screen and (min-width : 1000px) {
  .btn-group {
    max-width: 65vw; 
  }
}

