.needHelp {
  padding-bottom: 0;
}

.needHelp h1 {
  margin: 0;
}

.ba-boy {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: -5vh;
}

.needHelp img {
  width: 35%;
  height: auto;
}

@media only screen and (min-width: 320px) and (orientation: landscape) {
  .needHelp img {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .needHelp img {
    width: 25%;
  }

}

@media only screen and (min-width: 1000px) {
  .btn-group {
    max-width: 65vw; 
  }
  
  .needHelp img {
    width: 20%; 
  }

  .ba-boy {
    max-width: 65vw;
  }
}

