//Variable
$text-color-dark: rgba(0, 0, 0, 0.7);

.desc {
  height: 90vh;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../../images/jpg/description-bg.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff !important;

  .desc-box {
    margin-left: 4rem;

    .heading-primary {
      font-size: 38px;
      font-weight: 600;
    }

    .heading-sub {
      margin-top: 4rem;
      font-size: 1rem;
      font-weight: 100;
      margin-bottom: 2rem;
    }

    &-button {
      background: #ebd831 !important;

      a {
        color: $text-color-dark;
      }

      &:hover {
        background-color: #fff !important;
      }
    }
  }
}
