.partnerships {
  height: 100vh;
  justify-content: space-around;
  padding-top: 0;
  padding-bottom: 0;
  background-image: url('../../images/jpg/partnerships-bg-mob.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: red;
  color: #fff;
}

.partnerships img {
  width: 70%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .partnerships {
    height: 32vh;
    background-image: url('../../images/jpg/partnerships-bg.jpg');
  }

  .partnerships img {
    width: 50%; 
  }

  .partnerships p {
    margin: 0 7em 2em 7em;
  }
}

@media only screen and (min-width : 1000px) {
  .partnerships {
    height: 78vh;
    background-image: url('../../images/jpg/partnerships-bg.jpg');
  }
}

@media only screen and (min-width: 1000px) and (min-height: 768px) {
  .partnerships {
    height: 58vh;
  }
}

@media only screen and (min-width: 1000px) and (min-height: 1000px) {
  .partnerships {
    height: 58vh;
  }
}

@media only screen and (min-height : 1300px) {
  .partnerships {
    height: 33vh;
  }
}

