@import 'styles/variables';

.service {
  background-color: $background-color;
  padding: 8rem 6rem 0 6rem;

  .header-subtitle {
    font-size: 2.8rem;
  }

  &__grid {
    padding-top: 2rem !important;
    margin: 0 auto !important;
    width: 100% !important;
  }

  &-button {
    margin: 0 auto;
    text-align: center;
    padding: 5rem 0 4rem 0;
  }

  .ui.card .meta {
    font-size: 1.2rem;
  }

  .ui.image {
    background: transparent;
    width: 75%;
    margin: 0 auto;
  }

  @media (min-width: 600px) {
    .header-subtitle {
      font-size: 3.8rem;
      padding-left: 1rem;
    }

    .ui.card .meta {
      font-size: 1.7rem;
    }

    .ui.image {
      width: 45%;
    }
  }

  @media (min-width: 900px) {
    .ui.image {
      width: 50%;
    }
  }

  @media (min-width: 1200px) {
    .header-subtitle {
      font-size: 4.2rem;
    }
  }
}
