@import '../../../styles/_variables.scss';

.service {
  background-color: $background-color;
  padding-top: 80px;
  padding-left: 60px;
  padding-right: 60px;

  &-grid {
    margin: 0 auto !important;
    width: 100% !important;
  }

  &-button {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .service {
    padding-left: 0;
  }
}
