@import '../base/variables';

.hero {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
      $background-color-images,
      $background-color-images
    ),
    url('../../images/jpg/IMG_0229.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $color-light;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin-top: 1.5em;
    width: 35%;

    img {
      width: 100%;
    }
  }

  &__txt {
    text-align: center;
    padding-bottom: 2.5rem;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;

    .button-y {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (min-width: 600px) {
    &__logo {
      width: 25%;
    }

    &__txt {
      padding: 0 10rem 1rem 10rem;
    }

    .header-title {
      font-size: 4rem;
    }
  }

  @media (min-width: 900px) {
    &__logo {
      width: 20%;
    }
  }

  @media (min-width: 1200px) {
    &__logo {
      width: 10%;
    }

    &__txt {
      padding: 0 35rem 2rem 35rem;

      .header-title {
        font-size: 4.8rem;
      }
    }
  }
}
