.testimonial {
  width: 100%;
  height: auto;
  background-color: rgb(245, 242, 235);
  display: flex;
}

.card {
  width: 33.33%;
  border-radius: 3px;
  border: 1px solid #fff;
  background-color: rgb(255, 254, 251);
  margin: 80px 10px 80px 10px;
  box-shadow: 0 10px 10px grey;
}
