.testimonial {
  width: 100%;
  height: auto;
  background-color: rgb(245, 242, 235);
}

.card {
  width: 33.33%;
  border-radius: 3px;
  border: 1px solid #fff;
  background-color: rgb(255, 254, 251);
  margin: 80px 10px 80px 10px;
  box-shadow: 0 10px 10px grey;
}

.card--img img {
  width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.card--text {
  margin-bottom: 50px;
  text-align: left;
  padding: 0 50px 0 50px;
}

.card--text h5 {
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 1px;
}

.card--text p {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
}

.card--stars {
  text-align: left;
  color: rgb(240, 215, 73);
  margin: 10px 0 10px 0;
}

.card--stars img {
  width: 70px;
  margin-top: 20px;
}
