.about {
  background-color: var(--g1);
  padding: 2em 0;
}

.about img {
  max-width: 35%;
  height: auto;
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .about img {
    max-width: 45%; 
  }
}

@media only screen and (min-width: 1000px) {
  .about {
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
  }

  .about img {
    max-height: 45%; 
  }
}

