.about {
  height: auto;
  background-color: #fff;
  padding-bottom: 0;
}

.about img {
  width: 20%;
  height: auto;
  margin-bottom: 1em;
}

.girl {
  width: 40% !important;
  margin: 0 !important;
  margin-top: -3em !important;
  margin-bottom: -0.5vh !important;
  margin-left: -3em !important;
}

@media only screen and (min-width: 768px) {
  .about img {
    width: 25%; 
  }

  .girl {
    width: 50% !important;
    margin-top: -10em !important;
    margin-bottom: -0.4vh !important;
    margin-left: -10em !important;
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    width: 100vw;
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
  }

  .about img {
    width: 55%; 
  }

  .girl {
    width: 10% !important;
  }
}

