.about {
  height: auto;
  background-color: #fff;
  padding: 1em 0 0 0 !important;
}

.about img {
  width: 20%;
  height: auto;
  margin-bottom: 1em;
}

.girl-cut {
  width: 40% !important;
  margin: 0 !important;
  margin-top: -3em !important;
  margin-left: -15em !important;
}

.girl {
  display: none;
}

@media only screen and (min-width: 768px) {
  .about img {
    width: 25%; 
  }

  .girl-cut {
    width: 50% !important;
    margin-top: -10em !important;
    margin-left: -30em !important;
  }

  .girl {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .about {
    padding: 1em 0 1em 0 !important;
  }
  .about {
    height: auto;
    background-color: #fff;
    padding: 5em 0 5em 0; 
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; 
  }

  .about img {
    height: 35%; 
  }

  .girl-cut {
    display: none;
  }

  .girl {
    display: inherit;
    width: 8vw !important;
    margin-bottom: 0 !important;
  }
}

