.header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 10vh;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background-color: #fff;
  transition: top .3s;
}

.hide {
  top: -10vh;
}

.logo img {
  width: 20%;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: #000;
  text-decoration: none;
  margin: 0 0.5em;
  white-space: nowrap;
}

@media only screen and (min-width : 768px) {
  .logo img {
    width: 30%;  
  }
}


