.header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 8vh;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  transition: top .3s, background-color .5s;
  z-index: 2;
}

.hide {
  top: -10vh;
}

.logo img {
  width: 20%;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 
  Login and register buttons hidden until accounts are available
*/

.menu a {
  display: none;
  color: #000;
  text-decoration: none;
  margin: 0 0.5em;
  white-space: nowrap;
}

@media only screen and (min-width: 320px) and (orientation: landscape) {
  .header {
    height: 10vh; 
  }

  .logo img {
    width: 20%;  
    padding-top: 0.2em;
  }
}

@media only screen and (min-width : 768px) {
  .logo img {
    width: 30%;  
  }
}

@media only screen and (min-width : 1000px) {
  .header {
    padding: 0 2.5em; 
  }  
}

@media only screen and (min-height : 1300px) {
  .header {
    height: 5vh;
  }
}

