.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color: var(--g1); 
  height: 8vh;
  width: auto;
}

.logo img {
  width: 15%;
  height: auto;
}

@media only screen and (min-width : 768px) {
  .logo img {
    width: 30%;  
  }
}


