@import 'styles/variables';

.focus {
  height: 100%;

  &-column {
    padding: 4.5rem;
  }

  &-image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  @media (min-width: 600px) {
    &-column {
      padding: 8.5rem 23rem 8.5rem 8rem;

      .paragraph {
        font-size: 2.3rem;
      }
    }
  }

  @media (min-width: 900px) {
    .paragraph {
      font-size: 2.6rem;
    }
  }

  @media (min-width: 1200px) {
    & {
      display: flex;
      flex-direction: row;

      &-column {
        width: 50%;
        padding: 8.5rem 25rem 5.5rem 6.5rem;
        border: 4px solid red;

        .header-subtitle {
          font-size: 4rem;
        }

        .paragraph {
          font-size: 3.2rem;
        }
      }

      &-image {
        border: 4px solid red;
        width: 50%;
      }
    }
  }
}
