@import 'styles/variables';

.focus {
  height: 100%;

  &-column {
    padding: 4.5rem;
  }

  &-image {
    width: 100%;

    img {
      background-color: $background-color-images;
      width: 100%;
    }
  }
}

@media (min-width: 600px) {
  .focus-column {
    padding: 8.5rem 23rem 8.5rem 8rem;

    .paragraph {
      font-size: 2.3rem;
    }
  }
}

@media (min-width: 900px) {
  .focus-image {
    height: 60%;
  }

  .paragraph {
    font-size: 2.6rem;
  }
}

@media (min-width: 1200px) {
  .focus {
    &-row {
      display: flex;
      flex-direction: row;
    }

    &-column {
      width: 50%;
      padding: 10rem 25rem 1rem 6.5rem;

      .header-subtitle {
        font-size: 4rem;
      }

      .paragraph {
        font-size: 3.2rem;
      }
    }

    &-image {
      width: 50%;
    }
  }
}
