body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* 
  Global variables
    ba = Bonjour Ana
    g = Gray
*/
:root {
  --ba-yellow: #EBD831;
  --ba-blue: #89ABE3;
  --g1: #F2F2F2;
  --g2: #CCCCCC;
}

h1 {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
  Button styles 
    y = yellow
    b = blue
    o = outline
*/
.button-y {
  padding: 0.5em 2em 0.5em 2em;
  color: #000;
  background-color: var(--ba-yellow);
  text-decoration: none;  
  border-radius: 5px;
  margin: 0.5em;
}

.button-y-o {
  padding: 0.5em 2em 0.5em 2em;
  color: #000;
  background-color: none;
  text-decoration: none;  
  border: solid 1px var(--ba-yellow);
  border-radius: 5px;
  margin: 0.5em;
}

.button-b {
  padding: 0.5em 2em 0.5em 2em;
  color: #fff;
  background-color: var(--ba-blue);
  text-decoration: none;  
  border-radius: 5px;
  margin: 0.5em;
}

/*
  Text styles
    h = header
    sh = sub headers
    p = paragraph
    r = regular (text-weight)
    b = bold (text-weight)
*/

.h-txt-b {
  font-size: 1.8em;
  font-weight: 900;
}

.h-txt-r {
  font-size: 1.8em;
  font-weight: 400;
}

.sh-txt-b {
  font-size: 1.3em;
  font-weight: 900;
}

.sh-txt-r {
  font-size: 1.3em;
  font-weight: 400;
}

.p-txt {
  font-size: 0.9em;
  font-weight: 400;
}
