body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* 
  Global variables
    ba = Bonjour Ana
    g = Gray
*/
:root {
  --ba-yellow: #EBD831;
  --ba-blue: #89ABE3;
  --g1: #F2F2F2;
  --g2: #CCCCCC;
}

h1 {
  font-size: 1.6em;
  font-weight: 400;
}

h2 {
  font-size: 1.3em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

a {
  font-size: 1em;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Cols & Rows */
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: auto;
  text-align: center;
}

/*
  Text styles
*/


/* Add bold */
.b-txt {
  font-weight: 900;
}

/* Small text */
.s-txt {
  font-size: 0.8em;
}

/*
  Button styles 
    y = yellow
    b = blue
    o = outline
*/
.button-y {
  display: flex;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #000;
  background-color: var(--ba-yellow);
  text-decoration: none;  
  border-radius: 5px;
  margin: 0.5em;
}

.button-y-o {
  display: flex;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #000;
  background-color: transparent;
  text-decoration: none;  
  border: solid 1px var(--ba-yellow);
  border-radius: 5px;
  margin: 0.5em;
}

.button-b {
  display: flex;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #fff;
  background-color: var(--ba-blue);
  text-decoration: none;  
  border-radius: 5px;
  margin: 0.5em;
}

.header-button {
  display: flex;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #000;
  background-color: none;
  text-decoration: none;  
  border: solid 1px #000;
  border-radius: 5px;
  margin: 0.5em;
}

/*
    Custom, iPhone Retina 
    @media only screen and (min-width : 320px) {

    }

    Extra Small Devices, Phones
    @media only screen and (min-width : 480px) {

    }

    Small Devices, Tablets
    @media only screen and (min-width : 768px) {

    }

     Medium Devices, Desktops 
    @media only screen and (min-width : 992px) {

    }

    Large Devices, Wide Screens 
    @media only screen and (min-width : 1200px) {

    }

*/
