*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6); }

.header-title {
  color: #fff;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px; }

.header-subtitle {
  font-size: 3.5rem;
  font-weight: 700; }

.header-tertiary-Title {
  color: rgba(0, 0, 0, 0.6);
  font-size: 2.3rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.2em;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6); }

.link-text {
  font-size: 1em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6); }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 1em; }

/* Cols & Rows */
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  text-align: center; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: auto;
  text-align: center; }

button {
  border: none;
  background-color: transparent;
  transition: background-color 0.2s; }

/* Solid yellow button */
.button-y {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  color: rgba(0, 0, 0, 0.6) !important;
  background-color: #ebd831 !important;
  font-size: 1em !important;
  border-radius: 5px !important;
  margin: 0.5em !important;
  transition: all 0.3s !important; }
  .button-y:hover {
    background-color: #fff27d !important; }
  .button-y a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6) !important; }

/* Solid blue button */
.button-b {
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #fff;
  background-color: #89abe3;
  font-size: 1em;
  text-decoration: none;
  border-radius: 5px;
  margin: 0.5em;
  transition: background-color 0.3s; }
  .button-b:active {
    background-color: transparent; }
  .button-b:hover {
    color: #000;
    background-color: #fff; }

/* Solid black button */
.button-black {
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #fff;
  background-color: #000;
  font-size: 1em;
  text-decoration: none;
  border-radius: 5px;
  margin: 0.5em;
  transition: background-color 0.3s; }
  .button-black:active {
    background-color: #fff;
    color: #000; }
  .button-black:hover {
    background-color: #fff;
    color: #000; }

/* Outline yellow button */
.button-y-o {
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #000;
  background-color: transparent;
  font-size: 1em;
  text-decoration: none;
  border: solid 1px #ebd831;
  border-radius: 5px;
  margin: 0.5em;
  transition: background-color 0.3s; }
  .button-y-o:active {
    background-color: #ebd831; }
  .button-y-o:hover {
    border-color: #000; }

/* Outline white button */
.button-w-o {
  display: flex;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #fff !important;
  background-color: transparent;
  font-size: 1em;
  text-decoration: none;
  border: solid 1px #fff;
  border-radius: 5px;
  margin: 0.5em;
  transition: background-color 0.3s; }
  .button-w-o:active {
    border: solid 1px #ebd831;
    background-color: #ebd831; }
  .button-w-o:hover {
    color: #000 !important;
    background-color: #fff; }
