.special-offer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: var(--ba-blue);
  color: #fff;
}

.special-offer a {
  color: #fff;
  text-decoration: none;
}

.special-offer h1 {
  margin: 0em; 
}

@media only screen and (min-width: 768px) {
  .special-offer {
    height: 15vh; 
  }
}
