@import 'styles/variables';

.about {
  padding-top: 10rem;
  height: 100vh;
  padding-bottom: 90rem;

  &__heading {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 7rem;

    &--header {
      font-size: 5.5rem;
      color: $color-primary;
      font-family: $heading-font;
    }

    &--text {
      font-size: 1.7rem;
      color: $color-dark;
      padding: 2rem 5rem;
    }
  }

  &__grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__img-box {
    width: 50%;
    height: auto;
    display: inline-block;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  @media only screen and (min-width: 600px) {
    & {
      &__heading {
        &--header {
          font-size: 6.5rem;
        }

        &--text {
          font-size: 2.3rem;
        }
      }

      &__img-box {
        width: 25%;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    & {
      padding-bottom: 115rem;
    }

    &__heading {
      &--header {
        font-size: 7rem;
      }
      &--text {
        font-size: 2.5rem;
        padding-left: 35rem;
        padding-right: 35rem;
      }
    }
  }
}
