.subscriptions {
  margin: 3em 0 0 0;
}

.subscriptions .header {
  background-color: var(--ba-yellow) !important;
}

.subscriptions p {
  max-width: 85vw;
  font-size: 19px;
  line-height: 140%;
}

.subscriptions a:hover {
  text-decoration: underline;
}

.sub-images {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  padding: 0.3em;
  background-color: var(--g1);
}

.label p {
  margin: 0.5em;
}

.sub-images p {
  color: #000;
}

.sub-images a {
  margin: 2em 0 2em 0;
  text-decoration: none;
  width: 85%;
}

.sub-images img {
  width: 100%;
}

@media only screen and (min-width: 365px) and (orientation: landscape) {
  .sub-images {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .sub-images a {
    width: 35%;
  }
}
@media only screen and (min-width: 768px) {
  .subscriptions {
    margin: 5em 0 0 0;
  }

  .sub-images {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .sub-images a {
    width: 35%;
  }
}

@media only screen and (min-width: 1000px) {
  .subscriptions p {
    max-width: 65vw;
  }
}
