@import 'styles/variables';
@import 'styles/mixins';

.faq {
  padding: 10rem 3rem;
  font-size: 1.4rem;

  @include respond(tab-land) {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  &__header {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 3.5rem;

    @include respond(tab-land) {
      font-size: 3.8rem;
      margin-bottom: 4.5rem;
    }
  }

  &__title {
    font-size: 1.8rem;
    color: $color-dark;
    display: inline;

    @include respond(tab-land) {
      font-size: 2rem;
    }
  }

  &__paragraph {
    font-size: 1.6rem;

    @include respond(tab-land) {
      font-size: 1.8rem;
    }
  }
}
