.welcome  {
  height: 90vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-btns {
  display: flex;
}

.welcome img {
  max-width: 80%;
  height: auto;
  margin: 2em;
}


