.l-welcome  {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../../images/jpg/ba-bg-mob.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-btns {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 320px) and (orientation: landscape) {
  .l-welcome {
    flex-direction: row;
    justify-content: space-around;
  }
  .l-welcome img {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .l-welcome img {
    max-width: 55%; 
    margin: 3em;
  }
}

@media only screen and (min-width: 1000px) {
  .l-welcome {
    flex-direction: row;
    justify-content: space-around;
    background-image: url('../../images/jpg/ba-bg.jpg');
  }
  .l-welcome img {
    width: 40%;
  }
}
