.l-welcome {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../images/jpg/partnerships-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-btns {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .l-welcome {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../../images/jpg/partnerships-bg.jpg');
  }
}

@media only screen and (min-width: 1000px) and (min-height: 768px) {
  .l-welcome {
    height: 70vh;
  }
}

@media only screen and (min-width: 1000px) and (min-height: 1000px) {
  .l-welcome {
    height: 40vh;
  }
}

@media only screen and (min-width: 1300px) {
  .l-welcome {
    height: 70vh;
  }
}
